<!DOCTYPE html>
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login to Railguru Code</title>

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
 <script> var config = {
apiKey: "AIzaSyAXUmeVYyhMVccoNbCUFO-NZ3MDAtxeV7c",
    authDomain: "code-login-sms.firebaseapp.com",
    databaseURL: "https://code-login-sms.firebaseio.com",
    projectId: "code-login-sms",
    storageBucket: "code-login-sms.appspot.com",
    messagingSenderId: "643436938933",
    appId: "1:643436938933:web:25415ce21214182379a0fc",
    measurementId: "G-1V9TLPQGHZ"  










};
 firebase.initializeApp(config);
</script>

  <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
  <!--<link href="style.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body style = "background-color:#6f70a6">
    <div id="container">
	    <h1><u>Login To RailGuru Code</u></h1>
      <div id="loading">Loading...</div>
      <div id="loaded" class="hidden">
        <div id="main">
          <div id="user-signed-in" class="hidden">
            <!--<div id="user-info">
              <div id="phone">

</div>
              <div class="clearfix"></div>
            </div>-->
            <p>
              <button id="sign-out">Sign Out</button>
<a href="https://github.com/pskr0/Railticket"><button id="payment0" >RailGuru Project Code In Github</button>
   </a>         </p>
          </div>
          <div id="user-signed-out" class="hidden">
            <div id="firebaseui-spa">
              <h3>Don't Use without Permission</h3>
              <div id="firebaseui-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/app1.js"></script>
</body>
</html>
