<html>
<head>
<title>JOURNEY CONFORMATION</title>


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>




</head>

<body>
<h3> JOURNEY  DETAILS</h3>
<table style="width:100%">    <tr> <th>FROM    <h4>{{source0}}</h4> </th>          
 <th>TO<h4>{{destination0}}</h4></th></tr></table>           <table style="width:100%">
            <tr>           <th>{{Date0}}</th>    
                                                                                                                                                      
<th>{{head2}}</th>                                                                                                                                 
</tr>                                                                                          
<tr>                                                                                                                                                                        
<td>                                                                          
{{dat0}}</td><td>                                                                                                                                                         
{{prediction_text}}</td></tr>                                                                            
<tr>                                                                                                                                                                     
<td>{{dat1}}</td>
 <td>{{pred}}</td></tr>
<tr>
 <td>{{dat2}}</td>
 <td>{{pred1}}</td></tr>
<tr>
 <td>{{dat3}}</td>
 <td>{{pred2}}</td></tr>
<tr>
 <td>{{dat4}}</td>
 <td>{{pred3}}</td>
</tr>
</table>
<h5><br>
DATE OF JOURNEY IS [YYYYMMDD] : {{dat0}}     
<br>
PERCENTAGE OF PROBABILITY CONFORMATION OF TICKET IS  :  {{prediction_text}}   
<br>
TRAIN NAME : RAJDHANI EXP
<br>
TRAIN NUMBER : 12437
<br>
TRAIN  TYPE : RAJDHANI
<br>
</h5>
<form action="/recheck" method="post">
 <button type="submit" class="btn-large waves-effect waves-light orange">MODIFY JOURNEY DATE</button>
</form>
<form action="/loginacc" method="post"> 
<button type="submit">LOGIN</button>
</form>

















</body>
