<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html>

<head>
<title>
Mini Project Files
</title>
</head>
<body align="center" style="background-color:MediumSeaGreen">
<a style="text-decoration:none" href="http://cvr.ac.in"><h3>CVR CSE-C_2020</h3></a>
<h4>MINI PROJECT</h4>
<h4>AI BASED RESERVATION SYSTEM</h4>
<h5 style:color="Orange">GUIDE : Dr.K.MADHUSUDHANA</h5>
<h5 style:color="brown">TEAM MEMBERS:</h5>
SAI KRISHNA PUPPALA
<BR>
PRASHANTH REDDY MOGILI
<BR>
SAI KOUSHIK GATTU
<br>





<a style="text-decoration:none" href="/static/files/ppt.pptx"><h3>
PPT</h3>
</a>

<a style="text-decoration:none" href="/static/files/report.docx"><h3> DOCUMENTATION </h3> </a> 
<a style="text-decoration:none" href="/code_login"><h3>RailGuru Code</h3>
</a>


</body>
</html>
