<!DOCTYPE HTML>
<HTML>
<HEAD>
<link rel="shortcut icon" href="https://scontent.fhyd7-1.fna.fbcdn.net/v/t1.0-9/12376203_1706223229615172_6829260611200277990_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=vbYACOV1cyMAX9wEbsd&_nc_ht=scontent.fhyd7-1.fna&oh=89f7130038a11da6ff07ab1f40a72a2c&oe=5E9470F8"/>
<meta charset="UTF-8">
<TITLE>
RAILGURU
</TITLE>
<style>
#ddd{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

#ddd{
    margin: .4rem 0;
}

</style>




</HEAD>

<BODY ALIGN="CENTER" style="color:brown; height:100%;background-repeat:no-repeat;background-size:cover;>
<H1 STYLE="color:orange";>
<large style ="background-color:red,size:20px">RAILGURU PROTOTYPE WEB MODEL</large>
</H1>
<BR>
<BR>
<BR>
<form action="/predict" method="post">



<H5 STYLE="COLOR:darkblue">
Select Source
<select name="choose source">
	<option value="none" selected="selected"> -- choose source --
	<option value="AB">Secunderabad
	<option value="BC">kachiguda
</select>
</h5>


<br>

<h5 style="color:darkblue">
Select Destination
<select name="choose Destination">
	<option value="none" selected="selected"> -- choose Destination --
	<option value="AB">Delhi
	<option value="BC">Punjab
</select>
</h5>
<br>
<h5 style="color:darkblue">
Enter Date
<input placeholder="Date" name="inputdata" type="text" value="20200620" min="20190631" max="20200801" id="dd">
"YYYYMMDD"
</h5>

<br>


<h4>

          <button type="submit" class="btn-large waves-effect waves-light orange">Book Your Journey</button>
</form>
</span>
<h1>{{prediction_text}}</h1>
<h1> {{pred}}</h1>
<h1> {{pred1}}</h1>
<h1> {{pred2}}</h1>
<h1> {{pred3}}</h1>
</h4> 

</a>
<button type="button" onclick="document.getElementById('demo').innerHTML= Date()">
Click Time </button>
<p id="demo"></p>



</body>
</html>
