<!DOCTYPE HTML>
<HTML>
<HEAD>
<link rel="shortcut icon" href="https://scontent.fhyd7-1.fna.fbcdn.net/v/t1.0-9/12376203_1706223229615172_6829260611200277990_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=vbYACOV1cyMAX9wEbsd&_nc_ht=scontent.fhyd7-1.fna&oh=89f7130038a11da6ff07ab1f40a72a2c&oe=5E9470F8"/>
<meta charset="UTF-8">
<TITLE>
RAILGURU
</TITLE>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
</style>




</HEAD>

<BODY ALIGN="CENTER" style="color:brown; height:100%;background-repeat:no-repeat;background-size:cover;>
<H1 STYLE="color:orange";>
<large>RAILGURU PROTOTYPE WEB MODEL</large>
</H1>
<BR>
<BR>
<BR>
<form action="/predict" method="post">
<!--


<H5 STYLE="COLOR:darkblue">
Enter Source
<input placeholder="Source"name="sourcename" type="text" value="" id="first_name" type="text" >
</h5>

<br>

<h5 style="color:darkblue">
Enter Destination
<input placeholder="Destination" name="destinationname" type="text" value="" id="last_name" type="text" >
</h5>
-->

<H5 STYLE="COLOR:darkblue">
<label for="cars" STYLE="COLOR:darkblue">Select Source</label>
<select name="sourcename" id="cars" required>
                    <option value="" selected="selected">Choose Source</option>
                    <option value="Secunderabad">Secunderabad</option>
                  <option value="Kachiguda">Kachiguda</option>                                                              
 </select>       </h5>                                                                                              
           <br>                                                                                                                   
<H5 STYLE="COLOR:darkblue">
<br>
<label for="cars0" STYLE="COLOR:darkblue">Select Destination</label>
<select name="destinationname" id="cars0" required>                                                                                      
 <option value="" selected="selected">Choose Destination</option>
 <option value="Delhi">Delhi</option>                                                                                    
 <option value="Punjab">Punjab</option>
</select></h5>





















<br>
<h5 style="color:darkblue">
Enter Date
<input placeholder="Date" name="inputdata" required>
"YYYYMMDD"
</h5>

<br>


<h4>

          <button type="submit" class="btn-large waves-effect waves-light orange">Book Your Journey</button>
</form>
</span>
<!--<h1>{{prediction_text}}</h1>
<h1> {{pred}}</h1>
<h1> {{pred1}}</h1>
<h1> {{pred2}}</h1>
<h1> {{pred3}}</h1>-->
<table style="width:100%">
<tr>
<th>
<h4>{{source0}}</h4> </th>
<th><h4>{{destination0}}</h4></th></tr></table>


<table style="width:100%">
<tr>
<th>{{Date0}}</th>
<th>{{head2}}</th>
</tr>
<tr>
 <td>  
  {{dat0}}</td><td>
{{prediction_text}}</td></tr>
<tr>
 <td>{{dat1}}</td> 
 <td>{{pred}}</td></tr>
<tr>
 <td>{{dat2}}</td>
 <td>{{pred1}}</td></tr>
<tr>
 <td>{{dat3}}</td>
 <td>{{pred2}}</td></tr>
<tr>
 <td>{{dat4}}</td>
 <td>{{pred3}}</td>
</tr>
</table>






</h4> 

</a>
<button type="button" onclick="document.getElementById('demo').innerHTML= Date()">
Click Time </button>
<p id="demo"></p>



</body>
</html>
