<!DOCTYPE html>
<link rel="shortcut icon" href="https://scontent.fhyd8-1.fna.fbcdn.net/v/t1.0-9/12376203_1706223229615172_6829260611200277990_n.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=VBNextxkpSkAX-Y0tZs&_nc_ht=scontent.fhyd8-1.fna&oh=037aad54ba5e6723afa0376efc079a8e&oe=5F195F08"/>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login to Railguru</title>

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<!--
	  var config = {
	    apiKey: "AIzaSyA1rRG77hpoYS3i6moo900KD8GR1wQ5Kh8",
	    authDomain: "okcredit-7535e.firebaseapp.com",
	    databaseURL: "https://okcredit-7535e.firebaseio.com",
	    projectId: "okcredit-7535e",
	    storageBucket: "okcredit-7535e.appspot.com",
	    messagingSenderId: "870984863712"
	  };
	  firebase.initializeApp(config);
	--> <script> var config = {
  apiKey: "AIzaSyCrcTed5ENBQFLD9vmQz6iXr8HBVSajZWQ",
  authDomain: "railguru-b36c1.firebaseapp.com",
  databaseURL: "https://railguru-b36c1.firebaseio.com",
  projectId: "railguru-b36c1",
  storageBucket: "railguru-b36c1.appspot.com",
  messagingSenderId: "743682731369",
  appId: "1:743682731369:web:9014f590edacce1142e1f8",
  measurementId: "G-MJM1SVL9GS"
};
 firebase.initializeApp(config);
</script>

  <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
  <!--<link href="style.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body style = "background-color:#6f70a6">
    <div id="container">
	    <h1><u>Login To RailGuru</u></h1>
      <div id="loading">Loading...</div>
      <div id="loaded" class="hidden">
        <div id="main">
          <div id="user-signed-in" class="hidden">
            <div id="user-info">
              <div id="phone">
<a href="https://paytm.me/f9-L2vu">PAYMENT</a>
</div>
              <div class="clearfix"></div>
            </div>
            <p>
              <button id="sign-out">Sign Out</button>
<a href="https://paytm.me/f9-L2vu"><button id="payment0" >Payment</button>
   </a>         </p>
          </div>
          <div id="user-signed-out" class="hidden">
            <div id="firebaseui-spa">
              <h3>App:</h3>
              <div id="firebaseui-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
